.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

.img-logo {
     width: 40px;
     height: 40px;
}